* {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #F55A5A;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.header--globeIcon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.header--heading {
    color: #ffffff;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px 50px;
}

.card--details {
    margin: auto 20px;
}

.card--location {
    display: flex;
}

.location-icon {
    width: 9px;
    height: 12px;
    align-self: center;
    margin-right: 5px;
}

.location {
    color: #2B283A;
    margin-right: 15px;
}

.google-url {
    color: #918E9B;
    text-decoration: underline;
}

.card--image {
    width: 175px;
}

.title {
    color: #2B283A;
    font-weight: bold;
    margin-bottom: 20px;
}

.dates {
    color: #2B283A;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #2B283A;
}

hr {
    border: 1px solid #F5F5F5;
    width: 86%;
    margin: auto;
}